* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Light */
@font-face {
    font-family: "Museo Sans";
    src: url("../../assets/fonts/MuseoSans-300.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: "Museo Sans";
    src: url("../../assets/fonts/MuseoSans_500.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: "Museo Sans";
    src: url("../../assets/fonts/MuseoSans_700.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Museo Sans', sans-serif;
}

.container {
    width: min(1400px, 90%);
    margin: auto;
}